<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet-mapping>
        <servlet-name>ScoreBoardJson</servlet-name>
        <url-pattern>/json/scoreBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerification</servlet-name>
        <url-pattern>/json/userVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/json/getUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivateLeagueJson</servlet-name>
        <url-pattern>/json/privateLeague</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FAQ_Json</servlet-name>
        <url-pattern>/json/faq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AskOleJson</servlet-name>
        <url-pattern>/json/askOle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPublicLeaguesJson</servlet-name>
        <url-pattern>/json/allPublicLeagues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicLeagueProfileJson</servlet-name>
        <url-pattern>/json/publicLeagueProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveParticipantsJson</servlet-name>
        <url-pattern>/json/retrieveParticipants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMatchesJson</servlet-name>
        <url-pattern>/json/manageMatches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSpecialsJson</servlet-name>
        <url-pattern>/json/manageSpecials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinPublicLeagueJson</servlet-name>
        <url-pattern>/json/joinPublicLeague</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet-mapping>
        <servlet-name>LoginJson</servlet-name>
        <url-pattern>/json/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpJson</servlet-name>
        <url-pattern>/json/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMatchesJson</servlet-name>
        <url-pattern>/json/getMatches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicLeagueJson</servlet-name>
        <url-pattern>/json/PublicLeagueJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaguesJoined</servlet-name>
        <url-pattern>/json/leaguesJoined</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/json/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeFavoriteTeam</servlet-name>
        <url-pattern>/json/ChangeFavoriteTeam</url-pattern>
    </servlet-mapping>
</web-app>
